:root{
    --base-color :  rgb(238, 240, 236);
}


body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin:0;
    padding: 0;
    height: 100vh;
    font-family:'Arial', sans-serif;
    overflow: hidden;
    row-gap: 2rem;
}

li {
    top: 20px;
    list-style: none;
    text-align: center;
    box-sizing: inherit;
}


.about-us {
    margin: 1.5rem 5%;
}

.top-bar {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    background-color: var(--base-color);
    z-index: 1;
    gap: 2%;
}
 
.logo{max-width: 30%;}

.logo img{
    max-width: 200px;
    width: 30%;
    min-width: 150px;
}


.search-bar, #search-type{
    outline: none;
    border: none;
}
 .searchbar{
    display: flex;
    width: 75vw;
    margin-right: 2%;
    border-radius: 1rem;
    border: rgb(175, 175, 175) solid .12rem;

 }

 .searchbar:focus-within{
    border-color: rgb(137, 188, 255,.6) ;
    box-shadow: rgb(137, 188, 255) 0 0 .5rem;
 }


.search-bar {
    width: 45%;
    min-width: 200px;
    font-size: medium;
    padding: .5rem .5rem;
    flex: 2;
    border-radius: 0 1rem 1rem 0;
}

#search-type{border-radius: 1rem 0 0 1rem;
text-align: right;
border-right: solid rgba(61, 61, 61, 0.342) .05rem;
padding-left: .5rem;
}



 .contentBody{
    display: flex;
    width: 100vw;
    height: 55vh;
    justify-content:flex-start;
    align-items: center;
    margin-top: 3%;
 }


.fixed {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 0 .5rem .5rem 0;
    padding: 1rem;
    background-color: var(--base-color);
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
    border-top: none;
}

.side-menu-item{
    display: flex;
    width: 110%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    margin: 1rem 0rem;
    transition: .25s ease-in;
    padding: 1%;
}
.side-menu-item:hover{
    filter: invert(100);
    background-color: var(--base-color);
}

#main{
    display: flex;
    max-width: 70vw;
    max-height: 100%;
    flex-flow: wrap;
    background-color: var(--base-color);
    padding: 1.5rem;
    overflow-y: auto;
    margin: 5%;
    gap: 1rem;
    border-radius: 1rem;
}


/******** cart stuff begins ********/
.cart{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;

    margin-right: 1rem;
    bottom: -18%;
    right: 0;
    width: 30%;
    max-width: 300px;
    min-width: 250px;
    max-height: 70vh;
    transition: 400ms ease;
    border-radius: .5rem .5rem 0rem 0rem;
    background-color: var(--base-color);
    overflow: hidden;
    
}


.cartActive{
    box-shadow: rgba(0, 0, 0, 0.2) -5px -10px 5px;
}


.cart-button, .payment{
    background-color: green;
    color: white;
    text-align: center;
    padding: .3rem 0;
    cursor: pointer;
    font-size: large;
    transition: 300ms linear all;
    height: 20%;
}


.cart-button:hover, .payment:hover{
    background-color: rgb(18, 119, 18);
    box-shadow: inset limegreen 0 0 20px;
}

.payment{
    width:90%;
    align-self: center;
    margin-bottom: .5rem;
    border-radius: .7rem;
    box-sizing: border-box;
    border : .1rem solid rgb(1, 90, 1)
}


.cart-container{
    max-height: 500px;
    min-height: 350px;
    overflow-y: scroll;
}

/******** cart stuff ends ********/


/********scroll bar *******/
::-webkit-scrollbar{width: 15px;}

::-webkit-scrollbar-track{
    border-radius: 0 1rem 1rem 0;
    background-color: var(--base-color);
}

::-webkit-scrollbar-thumb{
    border-radius: 1rem;
    width: 25px;
    box-shadow: inset rgba(37, 37, 37, 0.804) 0 0 5px;
}


