.top-bar {
    display: flex;
    float: top;
    height: 80px;
}

.container {
    display: flex;
}

.fixed {
    width: 10%;
    height: 840px;
}

.flex-item {
    flex-grow: 1;
}

.side-menu-item {
    height: 168px;
}

.logo {
    width: 80px;
}

.search-bar {
    height: 40px;
    flex-grow: 1;
}

.search-button {
    width: 40px;
    height: 40px;
}

.cart-button {
    position: fixed;
    bottom: 0;
    width: 10%;
    right: 0;
}
