:root{
    --base-color :  rgb(226, 232, 238);
}


body{
    margin:0;
    padding: 0;
    height: 100vh;
    font-family:'Arial', sans-serif;
    overflow-y: hidden;
}

li {
    top: 20px;
    list-style: none;
    text-align: center;
    box-sizing: inherit;
}

h1 {
    text-align: center;
}

.about-us p {
    margin: 1.5rem 5rem;
}

.top-bar {
    display: flex;
    position:sticky;
    overflow: hidden;
    width: 100%;
    float: top;
    height: 80px;
    align-items: center;
    border: 1px solid black;
    background-color: var(--base-color);
}

.logo img{
    width: 175%; 
    left: 30px;
    aspect-ratio: 1; 
     
 }

 .contentBody{
    display: flex;
    width: 100vw;
    align-items: center;
 }


.fixed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px; /*need to remove */

    border-radius: 0 .5rem .5rem 0;
    padding: 1rem;
    background-color: var(--base-color);
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
    border-top: none;
}

.side-menu-item{
    display: flex;
    width: 110%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    margin: 1rem 0rem;
    transition: .25s ease-in;
    padding: 1%;
}
.side-menu-item:hover{
    filter: invert(100);
    background-color: var(--base-color);
}

.logo {
    width: 80px;
}

.search-bar {
    height: 40px;
    width: 400px;
    right: 80px;
    position: fixed;
}



/******** cart stuff begins ********/
.cart{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;

    margin-right: 1rem;
    bottom: -86%;
    right: 0;
    width: 30%;
    max-width: 300px;
    min-width: 250px;
    transition: 400ms ease;
    border-radius: .5rem .5rem 0rem 0rem;
    background-color: var(--base-color);
    overflow: hidden;
    
}


.cartActive{
    bottom:0;
    box-shadow: rgba(0, 0, 0, 0.2) -5px -10px 5px;
}


.cart-button, .payment{
    background-color: green;
    color: white;
    text-align: center;
    padding: .3rem 0;
    cursor: pointer;
    font-size: large;
    transition: 300ms linear background-color;
}


.cart-button:hover, .payment:hover{
    background-color: rgb(11, 83, 11);
}

.payment{
    width:90%;
    align-self: center;
    margin-bottom: .5rem;
    border-radius: .7rem;
    box-sizing: border-box;
    border : .1rem solid rgb(1, 90, 1)
}


.cart-container{
    height: 80vh;
}

/******** cart stuff ends ********/



